.toolsWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    gap: 20px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .notification {
    position: relative;
    font-size: 20px;
    color: #4B5563;
  }
  
  
  .badge {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
  }
  
  .searchBox {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    width: 300px;
  }
  
  .searchBox input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    color: #374151;
  }
  
  .searchIcon {
    color: #9CA3AF;
    font-size: 16px;
    margin-left: 10px;
  }


@media (max-width: 768px) {

  .toolsWrapper {
    position: fixed;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px 5px 15px;
    z-index: 100;
    top: 0;
    left: 0;
    border-bottom: solid 1px #E5E7EB;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  }

  .searchBox {
    max-width: 200px;
  }

  .hamburger {
    display: block;
  }
}
  